<!--
This is your default homepage.
For more information, see:
• https://sailsjs.com/documentation/concepts/views
• https://sailsjs.com/documentation/concepts/routes
-->

<div class="homepage-container">
    <div class="homepage-top-section">
        <div class="homepage-background">
            <div class="homepage-title-logo-container">
                <div class="homepage-title-container">
                    <h1>Github-GUS</h1>
                    <h3>Lorem Ipsum is simply dummy text </h3>
                </div>
                <img class="homepage-logo" src="/images/logo.svg" alt="git to gus logo">
            </div>
        </div>
        <div class="homepage-background-cloud">
            <a href="#getting-started" class="homepage-getting-started-button">Getting Started</a>
        </div>
    </div>
    <div class="homepage-getting-started-container">
        <h2 id="getting-started" class="homepage-getting-started-title">Ready to use Github-GUS?</h2>
        <h4 class="homepage-getting-started-subtitle">Getting started to use Github-GUS is simple. Go through the following 3 steps:</h4>
        <ol>
            <li class="homepage-getting-started-step">
                <img class="homepage-getting-started-step-image" src="/images/install.svg" alt="install">
                <span>
                    <h3 class="homepage-getting-started-step-label">1. Install Github-GUS</h3>
                    <p class="homepage-getting-started-step-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </span>
            </li>
            <li class="homepage-getting-started-step">
                <img class="homepage-getting-started-step-image" src="/images/configure.svg" alt="configure">
                <span>
                    <h3 class="homepage-getting-started-step-label">2. Create your app repo</h3>
                    <p class="homepage-getting-started-step-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </span>
            </li>
            <li class="homepage-getting-started-step">
                <img class="homepage-getting-started-step-image" src="/images/app.svg" alt="app">
                <span>
                    <h3 class="homepage-getting-started-step-label">3. Configure the Github-GUS</h3>
                    <p class="homepage-getting-started-step-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </span>
            </li>
        </ol>
    </div>
</div>
