<!--
This is your default homepage.
For more information, see:
• https://sailsjs.com/documentation/concepts/views
• https://sailsjs.com/documentation/concepts/routes
-->

<div class="homepage-container">
    <div class="homepage-top-section">
        <div class="homepage-background">
            <div class="homepage-title-logo-container">
                <div class="homepage-title-container">
                    <h1>Git2Gus Application</h1>
                    <h3>It keeps your issues in sync with GUS.</h3>
                </div>
                <img class="homepage-logo" src="/images/logo.svg" alt="git to gus logo">
            </div>
        </div>
        <div class="homepage-background-cloud">
            <a href="#getting-started" class="homepage-getting-started-button">Getting Started</a>
        </div>
    </div>
    <div class="homepage-section-container">
        <h2 id="getting-started" class="homepage-section-title">Ready to use Git2Gus?</h2>
        <p class="homepage-section-subtitle">Getting started to use Git2Gus is simple. Go through the following 3 steps:</p>
        <ol>
            <li class="homepage-getting-started-step">
                <img class="homepage-getting-started-step-image" src="/images/install.svg" alt="install">
                <span>
                    <h3 class="homepage-getting-started-step-label">1. Install Git2Gus application</h3>
                    <p class="homepage-getting-started-step-description">
                        Navigate to <a target="_blank" rel="noopener noreferrer" href="https://github.com/apps/git2gus">https://github.com/apps/git2gus</a> and 
                        install the app in you repo.
                    </p>
                </span>
            </li>
            <li class="homepage-getting-started-step">
                <img class="homepage-getting-started-step-image" src="/images/configure.svg" alt="configure">
                <span>
                    <h3 class="homepage-getting-started-step-label">2. Commit the configuration file into your repo.</h3>
                    <p class="homepage-getting-started-step-description">
                        In order to customize your repo for your team you have to commit a configuration file 
                        <b>.git2gus/config.json</b> with specific data about your team. e.g.
                        <code>
                                {
                                    "productTag": "a1aB0000000Jgm7IAC",
                                    "defaultBuild": "218"
                                }
                        </code>
                    </p>
                </span>
            </li>
            <li class="homepage-getting-started-step">
                <img class="homepage-getting-started-step-image" src="/images/app.svg" alt="app">
                <span>
                    <h3 class="homepage-getting-started-step-label">3. Enjoy the syncronization.</h3>
                    <p class="homepage-getting-started-step-description">
                        Since the app was installed and the config file is in then the app is going 
                        to start reacting to events on the issues.
                    </p>
                </span>
            </li>
        </ol>
    </div>
    <div class="homepage-section-container">
        <h2 class="homepage-section-title">Configuring Git2Gus</h2>
        <p class="homepage-section-subtitle">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an...</p>
        <p class="homepage-config-file-text">The <span class="homepage-badge">config.js</span> file:</p>
        <p class="homepage-example-text">Example</p>
        <code class="homepage-code">
            {
                "productTag": "a1aB0000000Jgm7IAC",
                "defaultBuild": "218"
            }
        </code>
        <ul class="homepage-config-keys-list">
            <li class="homepage-config-keys-item">
                <span class="homepage-badge">productTag</span>
                <span class="homepage-config-key-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an...</span>
            </li>
            <li class="homepage-config-keys-item">
                <span class="homepage-badge">defaultBuild</span>
                <span class="homepage-config-key-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an...</span>
            </li>
        </ul>
    </div>
    <div class="homepage-section-container">
        <h2 class="homepage-section-title">How Git2Gus work?</h2>
        <p class="homepage-section-subtitle">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an...</p>
        <h3 class="homepage-flow-title">Add label to issue</h3>
        <div class="homepage-flow-step-container">
            <img class="homepage-flow-step-image" src="/images/open-issue.svg" alt="open issue">
            <div class="homepage-flow-step">
                <p class="homepage-flow-step-title">1. Open a Issue</p>
                <p class="homepage-flow-step-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s...</p>
            </div>
        </div>
        <div class="homepage-flow-step-container">
            <div class="homepage-flow-step">
                <p class="homepage-flow-step-title">2. Select a GUS Label</p>
                <p class="homepage-flow-step-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s...</p>
            </div>
            <img class="homepage-flow-step-image" src="/images/select-gus-label.svg" alt="open issue">
        </div>
        <div class="homepage-flow-step-container">
            <img class="homepage-flow-step-image" src="/images/create-gus-item.svg" alt="open issue">
            <div class="homepage-flow-step">
                <p class="homepage-flow-step-title">3. A new card is created in GUS</p>
                <p class="homepage-flow-step-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s...</p>
            </div>
        </div>

        <h3 class="homepage-flow-title">Link issue with a GUS card</h3>
        <div class="homepage-flow-step-container">
            <img class="homepage-flow-step-image" src="/images/add-issue-description.svg" alt="open issue">
            <div class="homepage-flow-step">
                <p class="homepage-flow-step-title">1. Open a Issue with an annotation in description</p>
                <p class="homepage-flow-step-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s...</p>
            </div>
        </div>
        <div class="homepage-flow-step-container">
            <div class="homepage-flow-step">
                <p class="homepage-flow-step-title">2. Link issue with a GUS card</p>
                <p class="homepage-flow-step-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s...</p>
            </div>
            <img class="homepage-flow-step-image" src="/images/link-issue-with-gus.svg" alt="open issue">
        </div>

        <h3 class="homepage-flow-title">Close a issue</h3>
        <div class="homepage-flow-step-container">
            <img class="homepage-flow-step-image" src="/images/close-issue.svg" alt="open issue">
            <div class="homepage-flow-step">
                <p class="homepage-flow-step-title">1. Close a Issue</p>
                <p class="homepage-flow-step-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s...</p>
            </div>
        </div>
        <div class="homepage-flow-step-container">
            <div class="homepage-flow-step">
                <p class="homepage-flow-step-title">2. Change GUS status to INTEGRATE</p>
                <p class="homepage-flow-step-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s...</p>
            </div>
            <img class="homepage-flow-step-image" src="/images/integrate-gus-card.png" alt="open issue">
        </div>
    </div>
</div>
