<!--
This is your default homepage.
For more information, see:
• https://sailsjs.com/documentation/concepts/views
• https://sailsjs.com/documentation/concepts/routes
-->

<div class="homepage-container">
    <div class="homepage-top-section">
        <div class="homepage-background">
            <div class="homepage-title-logo-container">
                <div class="homepage-title-container">
                    <h1>Git2Gus Application</h1>
                    <h3>It keeps your issues in sync with GUS.</h3>
                </div>
                <img class="homepage-logo" src="/images/logo.svg" alt="git to gus logo">
            </div>
        </div>
        <div class="homepage-background-cloud">
            <a href="#getting-started" class="homepage-getting-started-button">Getting Started</a>
        </div>
    </div>
    <div class="homepage-getting-started-container">
        <h2 id="getting-started" class="homepage-getting-started-title">Ready to use Git2Gus?</h2>
        <p class="homepage-getting-started-subtitle">Getting started to use Git2Gus is simple. Go through the following 3 steps:</p>
        <ol>
            <li class="homepage-getting-started-step">
                <img class="homepage-getting-started-step-image" src="/images/install.svg" alt="install">
                <span>
                    <h3 class="homepage-getting-started-step-label">1. Install Git2Gus application</h3>
                    <p class="homepage-getting-started-step-description">
                        Navigate to <a href="https://github.com/apps/git2gus">https://github.com/apps/git2gus</a> and 
                        install the app in you repo.
                    </p>
                </span>
            </li>
            <li class="homepage-getting-started-step">
                <img class="homepage-getting-started-step-image" src="/images/configure.svg" alt="configure">
                <span>
                    <h3 class="homepage-getting-started-step-label">2. Commit the configuration file into your repo.</h3>
                    <p class="homepage-getting-started-step-description">
                        In order to customize your repo for your team you have to commit a configuration file 
                        <b>.git2gus/config.json</b> with specific data about your team. e.g.
                        <code>
                                {
                                    "productTag": "a1aB0000000Jgm7IAC",
                                    "defaultBuild": "218"
                                }        
                        </code>
                    </p>
                </span>
            </li>
            <li class="homepage-getting-started-step">
                <img class="homepage-getting-started-step-image" src="/images/app.svg" alt="app">
                <span>
                    <h3 class="homepage-getting-started-step-label">3. Enjoy the syncronization.</h3>
                    <p class="homepage-getting-started-step-description">
                        Since the app was installed and the config file is in then the app is going 
                        to start reacting to events on the issues.
                    </p>
                </span>
            </li>
        </ol>
    </div>
</div>
